docker.enabled = true

params {
    mainScript = 'main.nf'
    config = 'conf/standard.config'
    dataLocation = 'az://my-container/path/to/file.txt'
    echo = false
    cpus = 1
    container = 'quay.io/lifebitai/ubuntu:22.04'
    queueSize = 100
    executor = 'local'
}

profiles {
    standard { includeConfig params.config }
    azure { includeConfig 'conf/azure.config' }
    local { includeConfig 'conf/local.config' }
}

process {
    echo = params.echo
    cpus = params.cpus
    container = params.container
}

executor {
    name = params.executor
    queueSize = params.queueSize
}

manifest {
    homePage = 'https://github.com/lifebit-ai/spammer-nf'
    description = 'Stage input file(s) and print metadata'
    mainScript = params.mainScript
}
