params {
  executor = 'awsbatch'
  dataLocation = 's3://lifebit-featured-datasets/pipelines/spammer-nf/input_files'
  aws_batch_process_queue = "nf-batch-4"
}

process {
    queue = params.aws_batch_process_queue
}

process {
  executor = 'awsbatch'
  queue = params.aws_batch_process_queue
}

aws {
  batch {
    // jobRole = 'arn:aws:iam::017642882492:role/cloudos-647f6d52ba15efbbf2bd598a-batch-instance-role'
    // NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
    cliPath = '/home/ec2-user/miniconda/bin/aws'
    env {
      LD_LIBRARY_PATH = "\${LD_LIBRARY_PATH:-/usr/lib22}:/usr/lib:/usr/lib64:/home/ec2-user/miniconda/lib:/home/ec2-user/miniconda/bin/aws-cli/v2/current/dist"
    }
    volumes = [
       '/file-systems:/file-systems',
       '/etc/ssl/certs:/etc/ssl/certs',
       '/etc/pki:/etc/pki'

    ]
  }
  region = 'eu-west-1'
}

