params {
  executor = 'awsbatch'
  dataLocation = 's3://lifebit-featured-datasets/pipelines/spammer-nf/input_files'
  aws_batch_process_queue = "nf-batch-4"
}

process {
      queue = params.aws_batch_process_queue
}

aws {
    client {
        endpoint = "http://cld066-0005.cld066.vmc:9000"
        s3PathStyleAccess = true
    }
}
