params {
    autopool_auto_scale = false
    autopool_vm_count = 1
    diskType = 'standard_lrs'
    diskSize = '1300 GB' 
}

azure {
    batch {
        pools {
            auto {
                autoScale = params.autopool_auto_scale
                vmCount = params.autopool_vm_count
                diskType = params.diskType
                diskSize = params.diskSize
            }
        }
    }
}
