params {
    autopool_instance_type_small = 'Standard_D4s_v3'
    autopool_instance_type_medium = 'Standard_D4s_v4'
    autopool_auto_scale = true
    autopool_vm_count = 1
    autopool_max_vm_count = 50
    autopool_disk_size = '500 GB'
    spot = false
    deletePoolsOnCompletion = true
    privileged = true
    copyToolInstallMode = 'task'
    //or 'node"

    // The increased resources strategy won't work on Azure, as the instances are fixed on resources
    errorStrategy = 'terminate'
}
azure {
    batch {
        copyToolInstallMode = params.copyToolInstallMode
        deletePoolsOnCompletion = params.deletePoolsOnCompletion
        pools {
            spammer_small_pool {
                autoScale = params.autopool_auto_scale
                vmType = params.autopool_instance_type_small
                vmCount = params.autopool_vm_count
                maxVmCount = params.autopool_max_vm_count
                diskSize = params.autopool_disk_size
                spot = params.spot
                privileged = params.privileged
            }
            spammer_medium_pool {
                autoScale = params.autopool_auto_scale
                vmType = params.autopool_instance_type_medium
                vmCount = params.autopool_vm_count
                maxVmCount = params.autopool_max_vm_count
                diskSize = params.autopool_disk_size
                spot = params.spot
                privileged = params.privileged
            }
        }
    }
}
process {

    withLabel: process_small {
        queue = 'spammer_small_pool'
    }
    withLabel: process_medium {
        queue = 'spammer_medium_pool'
    }

}
