
params {
  executor = 'azurebatch'
  dataLocation = 's3://lifebit-featured-datasets/pipelines/spammer-nf/input_files'
  batchAccountName = ''
  region = 'ukwest'
  tenantId = ''
  servicePrincipalId = ''
  servicePrincipalSecret = ''
  vmType = 'STANDARD_D2S_V3'
  maxVmCount = 2
  diskType = 'standard_lrs'
  diskSize = '100 GB'
  spot = true
}

azure {
    activeDirectory {
        servicePrincipalId = params.servicePrincipalId
        servicePrincipalSecret = params.servicePrincipalSecret
        tenantId = params.tenantId
    }

  batch {
    location = params.region
    accountName = params.batchAccountName
    deleteJobsOnCompletion = false
    autoPoolMode = true
    deletePoolsOnCompletion = true
    pools {
      auto {
        autoScale = true
        vmType = params.vmType
        maxVmCount = params.maxVmCount
        vmCount = 1
        spot = params.spot
        diskType = params.diskType
        diskSize = params.diskSize
      }
    }
  }
}
