
params {

    azure_container_registry_server = false
    azure_container_registry_username = false
    azure_container_registry_password = false

    deletePoolsOnCompletion = true
}

azure {
    registry {
        //Azure ecr container registry, like lifebit.azurecr.io
        server = params.azure_container_registry_server
        userName = params.azure_container_registry_username
        password = params.azure_container_registry_password
    }
    batch {
        deletePoolsOnCompletion = params.deletePoolsOnCompletion
    }
}

process {
    withName: processA {
        queue = 'externalpool'
	}
}