params {
    autopool_auto_scale = true
    autopool_instance_type = 'Standard_D2ads_v5'
    autopool_vm_count = 1
    autopool_max_vm_count = 2000
    allow_pool_creation = true
    delete_pools_on_completion = false

    queue = 'named_pool_Standard_D32ads_v5'

    named_pool_instance_type = 'Standard_D32ads_v5'
}

executor {
    // Removes Nextflow's submission cap so it uses all available pool nodes
    queueSize = 0 
    
    // Limits API calls to prevent Azure resource throttling
    submitRateLimit = '20/sec' 
}

azure {
    batch {
        allowPoolCreation = params.allow_pool_creation
        deletePoolsOnCompletion = params.delete_pools_on_completion
        deleteJobsOnCompletion = true
        pools {
            auto {
                autoScale = params.autopool_auto_scale
                vmType = params.autopool_instance_type
                vmCount = params.autopool_vm_count
                maxVmCount = params.autopool_max_vm_count
            }
            named_pool_Standard_D32ads_v5 {
                autoScale = params.autopool_auto_scale
                vmType = params.named_pool_instance_type
                vmCount = params.autopool_vm_count
                maxVmCount = params.autopool_max_vm_count
            }
        }
    }
}

process {
    queue = params.queue
    withName: processA {
      queue = params.queue
      maxFork = 5000
    }
    withName: processB {
      queue = params.queue
      maxFork = 5000
    }
    withName: processC {
      queue = params.queue
      maxFork = 5000
    }
    withName: processD {
      queue = params.queue
      maxFork = 5000
    }
}
