params {
    autopool_auto_scale = true
    autopool_instance_type = 'Standard_D4s_v3'
    autopool_vm_count = 1
    autopool_max_vm_count = 50
    allow_pool_creation = true
    delete_pools_on_completion = false

    queue = 'auto'

    named_pool_instance_type = 'Standard_E8s_v3'
}

azure {
    batch {
        allowPoolCreation = params.allow_pool_creation
        deletePoolsOnCompletion = params.delete_pools_on_completion
        pools {
            auto {
                autoScale = params.autopool_auto_scale
                vmType = params.autopool_instance_type
                vmCount = params.autopool_vm_count
                maxVmCount = params.autopool_max_vm_count
            }
            named_pool {
                autoScale = params.autopool_auto_scale
                vmType = params.gatk_instance_type
                vmCount = params.autopool_vm_count
                maxVmCount = params.autopool_max_vm_count
            }
        }
    }
}

process {
    queue = params.queue
}
